
.container{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.left{
    display: flex;
    justify-content:space-between ;
    
}
.right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}